/* 2ª Digitação (Aqui) */
.custom-form {
    background: linear-gradient(145deg, #482c50, #db3455);
    padding: 2rem;
    border-radius: 15px;
}
.form-label {
    color: white;
}
.custom-icon {
    background-color: #db3466;
    border-color: #34dba1;
}
.form-control.custom-input {
    border: 3px solid #a53ce7;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}
.form-control.custom-input:focus {
    border-color: #e76684;
    transform: scale(1.02);
}
.input-group {
    width: 100%;
}
.btn.btn-primary.custom-button {
    background: linear-gradient(45deg, #b66baa, #f31264);
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
}
.btn.btn-primary.custom-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(60, 194, 231, 0.4);
}
